<img src="https://raw.githubusercontent.com/dark-teal-coder/dark-teal-coder/main/images/coder-no-background-000-128-128.png" alt="coder-black-background-000-128-128.png" width="100" height="100" align="right" style="margin:0px 5%; padding: 5px;">
<p>
	GitHub: <a href="https://github.com/dark-teal-coder">@dark-teal-coder</a>
	<br />
	First Published Date: 2022-03-07
	<br />
	Last Modified Date: 2022-03-07
</p>

<br />

___

In [1]:
3+2*2

7

In [2]:
type(True)

bool

In [3]:
int(3.2)

3

In [4]:
A = '1234567'
A[1::2]

'246'

In [5]:
Name = "Michael Jackson"
Name.find('el')

5

In [6]:
A='1'
B='2'
A + B

'12'

In [8]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [9]:
tuple1 = ("A","B","C" )
tuple1[-1]

'C'

In [10]:
A = ((11,12),[21,22])
A[1]

[21, 22]

In [11]:
A = ((11,12),[21,22])
A[0][1]

12

In [12]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [13]:
A = [1,'a']
B = [2,1,'d']
A + B

[1, 'a', 2, 1, 'd']

In [15]:
a = set(A)
a

{1, 'a'}

In [17]:
V = {'A','B'}
V.add('C')
V

{'A', 'B', 'C'}

In [18]:
V = {'A','B','C'}
V.add('C')
V

{'A', 'B', 'C'}

In [19]:
x="Go"

if(x!="Go"):
    print('Stop')
else:
    print('Go ')

print('Mike')

Go
Mike

In [20]:
x="Go"

if(x=="Go"):
    print('Go ')
else:
    print('Stop')

print('Mike')

Go
Mike

In [21]:
for n in range(3):
    print(n)

0
1
2

In [22]:
for n in range(3):
    print(n+1)

1
2
3

In [23]:
A = ['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [24]:
def Add(x,y):
    z=y+x
    return(y)

Add('1','1')

'1'

In [26]:
class Points(object):
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def print_point(self):
        print('x =',self.x,'y =',self.y)

print("The class attributes are:", "self.x", "self.y")

The class attributes are: self.x self.y

In [28]:
class Points(object):
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def print_point(self):
        print('x =',self.x,' y =',self.y)

p1 = Points(1,2)
p1.print_point()

x = 1  y = 2

In [30]:
class Points(object):
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def print_point(self):
        print('x =',self.x,' y =',self.y)

p2=Points(1,2)
p2.x=2
p2.print_point()

x = 2  y = 2

In [31]:
# The mode of this code is read: 
# with open(example1,"r") as file1: